<h1>Books</h1>

<%= form_with(url: books_path, method: :get, local: true) do %>
  <div>
    <%= label_tag :search, "Search for:" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<% if @books.any? %>
  <ul class="book-list">
    <% @books.each do |book| %>
      <li class="book-item">
        <strong>Title:</strong> <%= link_to book.title, book %><br>
        <strong>Author:</strong> <%= book.author %><br>
        <strong>Genre:</strong> <%= book.genre %><br>
        <strong>Published Date:</strong> <%= book.published_date %><br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found</p>
<% end %>
