<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Genre:</strong> <%= @book.genre %></p>
<p><strong>Published Date:</strong> <%= @book.published_date %></p>

<h2>Ratings</h2>
<ul>
  <% @ratings.each do |rating| %>
    <li>Score: <%= rating.score %></li>
  <% end %>
</ul>

<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.reviewer_name %>: <%= review.content %></li>
  <% end %>
</ul>
