<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "custom", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <h1>BookApp</h1>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
